/* stylelint-disable no-descending-specificity */
.table table {
    max-width: 76.5rem;
    margin: 5rem auto;
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.table div {
    text-align: left;
}

.table table td, 
.table table th {
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0156rem;
}

.table table th {
    background: var(--light-grey);
    font-family: OpenSans-Bold, Helvetica, sans-serif;
    text-align: center;
}

.table table td {
    font-family: OpenSans-Regular, Helvetica, sans-serif;
    text-align: left;
    background: transparent;
}

.table table tr:nth-child(2n+2) td {
    background: color-mix(in srgb, rgb(239 239 239) 50%, transparent);
}

.table table td ul {
    list-style-type: disc;
    padding-left: 1.875rem;
    margin-top: 0;
    margin-bottom: 0;
}

.table table td ul li {
    padding-left: .625rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: left;
    color: var(--text-color);
}

.table p {
    margin: 0;
}

.table table td p {
    text-align: left;
    color: var(--text-color);
}

.table table td h2, 
.table table td h3, 
.table table td p {
    color: var(--text-color);
}

.table.link {
    color: var(--green);
    text-decoration: underline;
    margin: auto;
}

.table.link:hover {
    color: var(--dark-green);
}

.table.formula {
    table {
        margin: 1rem auto;
        display: table;

        td, th {
        color: var(--text-color);
        border: 0;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem;
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0.0156rem;
        background: none;
    }

        th,
        tr:last-child {
            border-top: 3px solid var(--border-color);
            border-bottom: 3px solid var(--border-color);
        }

        th:first-child,
        td:first-child {
            text-align: left;
            width: 80%;
        }
        
        th:last-child,
        td:last-child,
        th:nth-last-child(2),
        td:nth-last-child(2) {
            width: 10%;
            
            h1, h2, h3, p {
                text-align: center;
            }
        }

        tr:nth-child(2n+2) td {
            background: none;
        }
        
        tr:last-child td p {
            font-family: OpenSans-Bold, Helvetica, sans-serif;
        }
    }
}

.table.list {
    table {
        margin: 1rem auto;
        display: table;
        width: 100%;

        td, th {
            color: var(--text-color);
            border: 0;
            border-bottom: 1px solid var(--border-color);
            padding: 1rem;
            font-size: 1rem;
            line-height: 2rem;
            letter-spacing: 0.0156rem;
            background: none;
        }
        
        tr:nth-child(2n+2) td {
            background: none;
        }
        
        tr:first-child {
            border-top: 3px solid var(--border-color);
        }
        
        tr:last-child {
            border-bottom: 3px solid var(--border-color);
        }
    }
}