.related-ingredient {
  background: var(--theme-clr-background);
  margin-bottom: 1.5rem;
  padding: 2.5rem 0.9688rem;
  border: 2px solid #706f73;
}

.section.related-ingredient-container .related-ingredient-wrapper:last-child .related-ingredient {
  margin-bottom: 0;
}

.related-ingredient-text {
  margin: 1.5rem 0;
  line-height: 1.15;
}

.related-ingredient-text h3 {
  font-family: OpenSans-Regular, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: 0.0156rem;
  font-weight: bolder;
  margin: 22px 0;
}

.related-ingredient-content h4 {
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-color);
}

.related-ingredient p {
  font-size: 1rem;
  font-family: OpenSans-Regular, Helvetica, sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.0156rem;
  color: var(--text-color);
  margin: 16px 0;
}

.related-ingredient-content .product-type {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.0156rem;
  color: var(--text-color);
  margin: 0 0 0.5rem;
}

.related-ingredient-content strong {
  font-family: OpenSans-Bold, Helvetica, sans-serif;
}

.related-ingredient-buttons {
  margin-top: 1.5rem;
}

.related-ingredient-content > a.button.icon {
  display: inline-block;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.0313rem;
  color: var(--green);
  position: relative;
  text-decoration: underline !important;
  background: var(--theme-clr-background);
  padding: 0;
  min-width: 0;
  text-align: start;
}

a.button.icon .icon-download {
  padding-right: 1.2rem;
  padding-left: 0.2rem;
}

a.button.icon .icon-download::before {
  font-size: 0.9375rem;
  top: 4px;
  content: "\e94b";
}

a.button.icon .icon-eye::before {
  font-size: 1.1875rem;
  top: 3px;
  content: "\e920";
}

a.button.icon .icon-download::before,
a.button.icon .icon-eye::before {
  color: var(--green);
  position: absolute;
}

a.button.icon:hover,
a.button.icon:hover .icon-eye::before,
a.button.icon:hover .icon-download::before {
  color: var(--dark-green);
}

a.button.icon .icon-eye {
  padding-right: 1.5rem;
}

.related-ingredient a.button.icon[download] {
  display: none;
}

.related-ingredient-buttons a.button,
.related-ingredient-buttons a.button.secondary {
  min-width: 10.3125rem;
}

.related-ingredient-buttons a.button.secondary {
  margin-right: 0;
}

.related-ingredient-buttons a.button {
  margin-right: 1.5rem;
}

.section.related-ingredient-container {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  padding: 5rem 0 7.5rem;
}

.section.related-ingredient-container .default-content-wrapper h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.0313rem;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  color: var(--text-color);
  margin: 0;
}

.section.related-ingredient-container .default-content-wrapper {
  max-width: 50.1875rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

.section-related-ingredient-wrapper {
  background: rgb(239 239 239 / 40%);
  margin: 0;
}

.related-ingredient sub,
.related-ingredient sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.related-ingredient sup {
  top: -0.5em;
}

.cart-list-notification {
  display: none;
  line-height: 1.15;
}

.cart-list-notification-wrapper {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 0.75rem 1.5rem;
  background: #4d4e4c;
  border-radius: 0.25rem;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  margin: 2.5rem auto 0;
  width: 23.875rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.cart-list-notification button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: 0;
}

.cart-list-notification-undo {
  margin-left: auto;
  font-family: MiloPro-Bold, Helvetica, sans-serif;
  color: var(--green);
  letter-spacing: 0.0313rem;
  padding: 1px 6px;
}

.cart-list-notification p,
.cart-list-notification-undo {
  font-size: 1rem;
  line-height: 1.5rem;
}

.cart-list-notification-undo:hover {
  color: var(--dark-green);
}

.cart-list-notification-close {
  margin-left: 1.25rem;
  padding: 1px 6px;
}

.icon-close::before {
  content: "\e91c";
  color: #4d4f53;
}

.cart-list-notification-close::before {
  color: var(--white);
  font-size: 1.25rem;
}

.cart-list-notification p {
  color: var(--white);
  letter-spacing: 0.0187rem;
}

@media (width >= 67.5625rem) {
  .related-ingredient-content > a.button.icon {
    margin-right: 2.5rem;
  }

  .section.related-ingredient-container>div {
    flex-basis: 100%;
  }

  .related-ingredient-content {
    flex-basis: 70%;
    padding: 2.5938rem 2.5rem 2.4688rem 3.1563rem;
  }

  .related-ingredient {
    margin-bottom: 2.5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .related-ingredient-buttons {
    padding: 33px 0;
    max-width: 21rem;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .related-ingredient-buttons::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #706f73;
    width: 2px;
  }

  .section.related-ingredient-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5rem 0;
  }

  .related-ingredient-content a.button.icon:last-child {
    margin-right: 0;
    display: inline-block;
  }

  .related-ingredient-buttons a.button {
    margin-bottom: 1.6875rem;
    margin-right: 0;
  }

  .related-ingredient-buttons a.button.secondary {
    margin-bottom: 0;
  }

  .section.related-ingredient-container .default-content-wrapper h2 {
    font-size: 2.5rem;
  }
}

@media (width <= 24.375rem) {
  .related-ingredient-buttons a.button {
    margin-bottom: 1.5rem;
  }

  .related-ingredient-buttons a.button.secondary {
    margin-bottom: 0;
  }
}